<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>
<head>
<title>app demo</title>
</head>
<body>
<h1>We will see how things work with the demo...</h1>
<div>
hello, welcome to the page! <br />
<strong>{{ boldmessage }}</strong><br />
</div>

 <div>
 {% if courses%}
 <ul>
 {% for crs in courses%}
 <li><a href="/dingapp/course/{{crs.slug }}/">{{ crs.name}}</a></li>
 {% endfor %}
 </ul>
 {% else %}
 <strong>There are no courses present.</strong>
 {% endif %}
 </div>

<div>
<a href="/dingapp/about">About</a>
<br />
<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> <!-- New line -->

</div>
</body>
</html>